In [1]:
import pymysql
import sqlite3
import getpass
import pandas.io.sql as psql

In [2]:
p = getpass.getpass()

 ·····

In [4]:
conn = pymysql.connect(host='mysql', #localhost
                       port=3306, 
                       user='aluno', 
                       passwd=p, 
                       db='learningsql')

In [5]:
conn

In [6]:
cur = conn.cursor()

In [14]:
query = '''
select * from employee;
'''

cur.execute(query)

18

In [16]:
for row in cur.fetchall():
    print(row)

(2, 'Susan', 'Barker', datetime.date(2002, 9, 12), None, 1, 3, 'Vice President', 1)
(3, 'Robert', 'Tyler', datetime.date(2000, 2, 9), None, 1, 3, 'Treasurer', 1)
(4, 'Susan', 'Hawthorne', datetime.date(2002, 4, 24), None, 3, 1, 'Operations Manager', 1)
(5, 'John', 'Gooding', datetime.date(2003, 11, 14), None, 4, 2, 'Loan Manager', 1)
(6, 'Helen', 'Fleming', datetime.date(2004, 3, 17), None, 4, 1, 'Head Teller', 1)
(7, 'Chris', 'Tucker', datetime.date(2004, 9, 15), None, 6, 1, 'Teller', 1)
(8, 'Sarah', 'Parker', datetime.date(2002, 12, 2), None, 6, 1, 'Teller', 1)
(9, 'Jane', 'Grossman', datetime.date(2002, 5, 3), None, 6, 1, 'Teller', 1)
(10, 'Paula', 'Roberts', datetime.date(2002, 7, 27), None, 4, 1, 'Head Teller', 2)
(11, 'Thomas', 'Ziegler', datetime.date(2000, 10, 23), None, 10, 1, 'Teller', 2)
(12, 'Samantha', 'Jameson', datetime.date(2003, 1, 8), None, 10, 1, 'Teller', 2)
(13, 'John', 'Blake', datetime.date(2000, 5, 11), None, 4, 1, 'Head Teller', 3)
(14, 'Cindy', 'Mason', datetime.date(2002, 8, 9), None, 13, 1, 'Teller', 3)
(15, 'Frank', 'Portman', datetime.date(2003, 4, 1), None, 13, 1, 'Teller', 3)
(16, 'Theresa', 'Markham', datetime.date(2001, 3, 15), None, 4, 1, 'Head Teller', 4)
(17, 'Beth', 'Fowler', datetime.date(2002, 6, 29), None, 16, 1, 'Teller', 4)
(18, 'Rick', 'Tulman', datetime.date(2002, 12, 12), None, 16, 1, 'Teller', 4)